
body{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
}

main{
    height: 80vh;
}

div.carousel-wrapper{
    width: 77%;
    height: 680px;
    margin: auto;
    background-color: aqua;
    position: relative;
}

div.carousel-image{
    width: 100%;
    background-color: blue;
}

/* div.carousel-thumbnails{
    width: 21.5%;
    background-color: violet;
} */

.font-color-white{
    color:white;
}

div.previous,
div.next{
    border-radius: 50%;
    text-shadow: 0 0 20px #000;
    font-size: 1.6rem;
}

div.previous{
    top:50%;
    right: 1.5rem;
    transform: translateY(-50%);
}

div.next{
    top: 50%;
    left: 1.5rem;
    transform: translateY(-50%);
}

div.my_carousel-item {
    height: 100%;
    display:none;
}

div.my_carousel-item.active {
    display:block;
}

div.my_carousel-item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

div.my_carousel-item .caption{
    background: #0004;
}